/*
 * Copyright (C) 2009 Julio Arg\u00fcello <julio.arguello@gmail.com>
 *
 * This file is part of Bluebell Parent.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#navcolumn h5 {
	font-size: smaller;
	border: 1px solid #aaaaaa;
	background-color: #bbb;
	margin-top: 7px;
	margin-bottom: 2px;
	padding-top: 2px;
	padding-left: 2px;
	color: #000;
}

li.collapsed,li.expanded,a:link {
	color: #36a;
}